html{
    min-height: 100%;
}
body {
    background-image: url("../images/darkness.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    height: 100%;
    padding-bottom: 75px;
}

.navbar-inverse{
    background-image: url("../images/darkness.png");
    border-bottom: 5px solid darkblue;
}
.navbar-brand{
    background: darkred;
    border: 1px solid darkblue;
}
.navbar-right{
    background: #8b0000;
    border: 1px solid darkblue;
}
#main-content-column-left{
    background: darkred;
    padding-bottom: 5px;
    color: silver;
    border: 3px solid darkblue;
}
#main-content-column-left header{
    font-size: 26px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#main-content-column-left img{
    float: left;
    margin-right: 10px;
}
#main-content-column-left p{
    font-size: 18px;
    text-indent: 15px;
}
#main-content-column-left .btn{
    background: darkblue;
    border: 1px solid darkolivegreen;
}
#connect-content{
    background: darkred;
    color: silver;
    padding-bottom: 10px;
    border: 3px solid darkblue;
}
#connect-content header{
    font-size: 26px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#connect-content .container-fluid{

}
#connect-content img{
    height: 60px;
    width: 60px;
    margin-left: 0;
}
#connect-content .col-xs-12 img{
    display: block;
    margin-left: auto;
}

.footer {
    border-top: 5px solid darkblue;
    background: darkred;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    text-align: center;
    padding-top: 25px;
    width: 100%;
    color: silver;
}
#img1{
    background: darkred url("../images/05-technics-q-c-300-125-2.jpg");
    height: 100px;
}
#project1{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin: 25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img2{
    background: darkred url("../images/06-technics-q-c-300-125-4.jpg");
    height: 100px;
}
#project2{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;

}
#img3 {
    background: darkred url("../images/02-abstract-q-c-300-125-7.jpg");
    height: 100px;
    margin-top: 10px;
}
#project3 {
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img4 {
    background: darkred url("../images/01-abstract-q-c-300-125-6.jpg");
    height: 100px;
    margin-top: 10px;
}
#project4{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img5 {
    background: darkred url("../images/04-abstract-q-c-100-100-1.jpg");
    height: 100px;
    margin-top: 10px;
}
#project5{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img6 {
    background: darkred url("../images/03-abstract-q-c-300-125-10.jpg");
    height: 100px;
    margin-top: 10px;
}
#project6{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img7 {
    background: darkred url("../images/03-abstract-q-c-300-125-10.jpg");
    height: 100px;
    margin-top: 10px;
}
#project7{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img8 {
    background: darkred url("../images/03-abstract-q-c-300-125-10.jpg");
    height: 100px;
    margin-top: 10px;
}
#project8{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}
#img9 {
    background: darkred url("../images/03-abstract-q-c-300-125-10.jpg");
    height: 100px;
    margin-top: 10px;
}
#project9{
    background-color: darkblue;
    color: silver;
    opacity: .75;
    margin:25px 15px 25px 10px;
    text-align: center;
    padding: 10px;
}